<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>firstgame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46EC40B21D7FEE1D0047DE2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46EC40CD1D7FEE1E0047DE2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46EC40D81D7FEE1E0047DE2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
